/* General Classes */
body {
	font: 11px verdana, arial, sans-serif; 
	background-color: #223355;
}

td{
	padding: 4px;
	color: #000033;
}

th{
	padding: 5px;
	font-weight: bold;
	color: #333366;
}

/* Headings */
h1   {
	font: 14px verdana, arial, sans-serif;
	color: #8888dd; 
	font-weight: bold;
	text-align: center;
}

h2   {
	font: 12px verdana, arial, sans-serif;
	color: #9999ee;
	font-weight: bold;
	text-align: center;
}

h3   {
	font: 12px verdana, arial, sans-serif;
	color: #000044;
	font-weight: bold;
	text-align: center;
}

h4   {
	font: 12px verdana, arial, sans-serif;
	color: #ff8800;
	font-weight: bold;
	text-align: center;
}

h5   {
	font: 12px verdana, arial, sans-serif;
	color: #88ff88;
	font-weight: bold;
	text-align: center;
}

/* Input Fields */
select {
	color: #333366;
}

input {
	color: #333366;
}

textarea {
	color: #333366;
}

/* Image Properties */
img{
	margin : 2px;
	border: none;
}

img.bigbar{
	height : 16px;
	margin : 4px;
	border: 1px solid #222266;
}

img.smallbar{
	height : 6px;
	margin : 1px;
	border: 1px solid #222266;
}

/* Form Properties */
:focus {background-color: #d0ddf0}

/* Link Properties */
:link {color: #0066dd;text-decoration: none;}
:visited {color: #002288;text-decoration: none;}
:link:focus, :visited:focus {color: #cc0077}
:link:hover, :visited:hover {color: #ff0044}
:link:active, :visited:active {color: #8800dd}

/* Header table & Footer div*/
#header{
	width: 100%;
	border-spacing: 1px;
	background-color: #444499;
}

#footer{
	margin: 20px auto;
	width:90%;
	border: 1px solid #444499;
	padding: 8px;
	text-align: right;
	font: 9px verdana, arial, sans-serif;
	color: #eeee00;
	font-style: italic;
}

/* Actual Module */
table.content{
	width: 100%;
	border-spacing: 1px;
	background-color: #5555aa;
}

td.content{
	text-align: left;
}

/* Helper td */
td.helper{
	padding: 5px 10px;
	vertical-align: top;
	background-color: #223365;
}

table.fixed{
	table-layout:fixed;
}

table.full{
	width: 100%;
}

/* Style for logs etc. */
.textpad{
	margin: 10px auto;
	width: 50%;
	padding: 8px;
	border-spacing: 2px;
	border: 2px dashed #6060c0;
}

/* Font Properties */
.code{
	margin: 6px;
	font: 12px lucida console, fixedsys;
	white-space: pre;
}

.red {color: red }
.drd {color: darkred }
.grn {color: green }
.blu {color: blue }
.prp {color: purple }
.blk {color: black }

.gry {color: grey }
.dgy {color: dimgrey }
.org {color: orange }
.mrn {color: maroon }
.sna {color: sienna }
.sbu {color: steelblue }
.olv {color: olive }

/* Text Fields */
.txta{background-color: #d0d0d8}
.txtb{background-color: #c8c8d0}

/* Image Fields */
.imga{background-color: #f0f0ff}
.imgb{background-color: #e6e6ee}

/* Status Fields */
.good{background-color: #aaffaa}
.warn{background-color: #ffffaa}
.alrm{background-color: #ffaa00}
.crit{background-color: #ffaaaa}

/* Default Group Based Module Colors */
.adm1{background-image: URL(../img/blubg.png)}
.adm2{background-color: #bbbbdd}

.net1{background-image: URL(../img/blubg.png)}
.net2{background-color: #aabbdd}

.dsk1{background-image: URL(../img/blubg.png)}
.dsk2{background-color: #aadddd}

.mon1{background-image: URL(../img/blubg.png)}
.mon2{background-color: #bbccdd}

.mgr1{background-image: URL(../img/blubg.png)}
.mgr2{background-color: #aaccee}

.oth1{background-image: URL(../img/blubg.png)}
.oth2{background-color: #aabbbb}

.usr1{background-image: URL(../img/blubg.png)}
.usr2{background-color: #bbbbdd}
