/* General Classes */
body {
	font: 12px verdana, arial, sans-serif; 
	background-color: #ffffff;
}

td{
	padding: 4px;
	color: #000000;
}

th{
	padding: 6px;
	font-weight: bold;
	color: #000000;
}

/* Headings */
h1   {
	font: 14px verdana, arial, sans-serif;
	color: #333333; 
	font-weight: bold;
	text-align: center;
}

h2   {
	font: 12px verdana, arial, sans-serif;
	color: #333333;
	font-weight: bold;
	text-align: center;
}

h3   {
	font: 12px verdana, arial, sans-serif;
	color: #000066;
	font-weight: bold;
	text-align: center;
}

h4   {
	font: 12px verdana, arial, sans-serif;
	color: #660000;
	font-weight: bold;
	text-align: center;
}

h5   {
	font: 12px verdana, arial, sans-serif;
	color: #006600;
	font-weight: bold;
	text-align: center;
}

/* Input Fields */
select {
	color: #444444;
}

input {
	color: #444444;
}

textarea {
	color: #444444;
}

/* Image Properties */
img{
	margin : 2px 4px;
	border: none;
}

img.bigbar{
	height : 20px;
	margin : 4px;
	border: 1px solid #333333;
}

img.smallbar{
	height : 8px;
	margin : 2px;
	border: 1px solid #333333;
}

/* Form Properties */
:focus {background-color: #d0ddf0}

/* Link Properties */
:link {color: #0044aa;text-decoration: none;}
:visited {color: #003399;text-decoration: none;}
:link:focus, :visited:focus {color: #cc7700}
:link:hover, :visited:hover {color: #ff4400}
:link:active, :visited:active {color: #0088dd}

/* Header table & Footer div*/
#header{
	width: 100%;
	border-spacing: 1px;
	background-color: #222222;
}

#footer{
	margin: 10px auto;
	width: 90%;
	border: 1px solid #222222;
	padding: 8px;
	text-align: right;
	font-style: italic;
}

/* Actual Module */
table.content{
	width: 100%;
	border-spacing: 1px;
	background-color: #444444;
}

/* Helper td */
td.helper{
	padding: 10px;
	vertical-align: top;
}

table.fixed{
	table-layout:fixed;
}

table.full{
	width: 100%;
}

/* Style for logs etc. */
.textpad{
	margin: 10px auto;
	width: 60%;
	padding: 10px;
	border-spacing: 1px;
	border: 2px solid #dddddd;
}

/* Font Properties */
.code{
	padding: 10px;
	font: 12px lucida console, fixedsys;
	white-space: pre;
}

.red {color: red }
.drd {color: darkred }
.grn {color: green }
.blu {color: blue }
.prp {color: purple }
.blk {color: black }

.gry {color: grey }
.dgy {color: dimgrey }
.org {color: orange }
.mrn {color: maroon }
.sna {color: sienna }
.sbu {color: steelblue }
.olv {color: olive }

/* Text Fields */
.txta{background-color: #e0e0e0}
.txtb{background-color: #d0d0d0}

/* Image Fields */
.imga{background-color: #f0f0f0}
.imgb{background-color: #e6e6e6}

/* Status Fields */
.good{background-color: #00ff00}
.warn{background-color: #ffff00}
.alrm{background-color: #ff0000}
.crit{background-color: #ff8888}

/* Default Group Based Module Colors */
.adm1{background-color: #cccccc}
.adm2{background-color: #eeeeee}

.net1{background-color: #cccccc}
.net2{background-color: #eeeeee}

.dsk1{background-color: #cccccc}
.dsk2{background-color: #eeeeee}

.mon1{background-color: #cccccc}
.mon2{background-color: #eeeeee}

.mgr1{background-color: #cccccc}
.mgr2{background-color: #eeeeee}

.oth1{background-color: #cccccc}
.oth2{background-color: #eeeeee}

.usr1{background-color: #cccccc}
.usr2{background-color: #eeeeee}
